# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
generated_plugin_registrant.dart

# Python related
*.pyc
__pycache__/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/macOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner.xcworkspace/
**/ios/DerivedData/
**/ios/Flutter/App.framework
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/
**/macos/DerivedData/

# Windows/Linux related
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Web related
**/web/.dart_tool/
**/web/.dart_tool/**

# VS Code / IntelliJ / Xcode
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.xcworkspace/
*.xcuserstate
*.xcuserdatad/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcscmblueprint

# OS files
.DS_Store
Thumbs.db

# Log / Temp
*.log
*.tmp

# Ignore duplicate "Copy" files
*- Copy.*
*- Copy
